@import url(/path/to/reset-css/reset.css);#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #58402c;
  height: 80px;
}

.main_menu ul li {
  display: inline-block;
}

.main_menu ul li a {
  color: #58402c;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.main_menu ul li a:hover {
  color: #30488f;
}

.main_menu ul li i {
  padding: 10px 15px;
}

.main_menu ul li .dropdown {
  display: none;
}

.main_menu ul li .dropdown ul li {
  display: block;
}

.button_header {
  color: #30488f !important;
  border: 1px solid #30488f;
  border-radius: 5px;
  margin-left: 10px;
}

.button_header:hover {
  background-color: #30488f;
  color: white !important;
}

.slider_menu {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 100px 0;
}

.slider_menu .slider_img img {
  max-width: 570px;
}

.slider_menu .slider_text {
  display: flex;
  flex-direction: column;
  color: #58402c;
}

.slider_menu .slider_text h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.slider_menu .slider_text p {
  font-size: 20px;
  margin: 40px 0px 40px 0;
}

.slider_menu .slider_text .link_mail {
  margin: 40px 0px 40px 0;
}

.slider_menu .button_slider a {
  color: white !important;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #30488f;
}

.slider_menu .button_slider a i {
  margin-right: 10px;
}

.slider_menu .button_slider a:hover {
  background-color: #1d2b56;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-flex {
  width: 1200px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  background-color: #FFE7D2;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 40px 0;
}

#main .title_main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #58402c;
  margin: 80px 40px;
}

#main .three_col {
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px 0;
}

#main .three_col .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  width: calc(100% /3);
}

#main .three_col img {
  margin: 20px auto;
  max-width: 180px;
  height: auto;
}

#main .rabbit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 40px 0;
}

#main .rabbit img {
  max-width: 350px;
}

