// codice generico dell'header

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $menu_color;
  height: $header_height;

}


// codice relativo al main menu

.main_menu ul li{
  display: inline-block;

  a{
    color: $menu_color;
    text-decoration: none;
    padding: $menu_padding;
    font-weight: bold;

    &:hover{
      color:$menu_color_hover;
    }
  }

  i{
    padding: $menu_padding;
  }

  .dropdown{
    display: none;
    ul li{
      display: block;
    }
  }

}

.button_header{
  @include stile_button_header;

  &:hover{
    background-color: $menu_color_hover;
    color: white !important;
  }
}

// codice relativo allo slider

.slider_menu{
  display: flex;
  justify-content: space-between;
  margin:100px 0 100px 0;

  .slider_img img{
    max-width: 570px;
  }

  .slider_text{
    display: flex;
    flex-direction: column;
    color:$menu_color;

    h1{
      font-size: 50px;
      margin-bottom: 20px;
    }

    p{
      font-size: 20px;
      margin: $margin_top_bottom;
    }

    .link_mail{
      margin: $margin_top_bottom;
    }
  }

  .button_slider a{
    @include stile_button_gen($menu_padding, 5px, white, 5px ,$menu_color_hover );
    i{
      margin-right: $icon-margin;
    }
    &:hover{
      background-color: darken($menu_color_hover, 15);
    }
  }

}
