#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $menu_color;
  height: $header_height;
}


.main_menu ul li{
  display: inline-block;

  a{
    color: $menu_color;
    text-decoration: none;
    padding: $menu_padding;
    font-weight: bold;

    &:hover{
      color:$menu_color_hover;
    }
  }

  i{
    padding: $menu_padding;
  }

  .dropdown{
    display: none;
    ul li{
      display: block;
    }
  }

}

.button_header{
  @include stile_button_header;

  &:hover{
    background-color: $menu_color_hover;
    color: white !important;
  }
}

.slider_menu{
  display: flex;
  .slider_img img{
    max-width: 570px;
  }

  .slider_text{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
